{% extends "base.html.twig" %}

{% block body %}

<h1> El  estado del usuario es: {{ estado }}</h1> <br />

{% if estado == "AUTORIZADO" %} 
    <h1> Su nombre y apellido es: {{ usuariologueado.nombre }} {{ usuariologueado.apellido}} </h1>
{% endif %} 


{#{% for user in users  %}
<h1>{{ user.nombre }} {{ user.apellido }}</h1>#}
{#% endfor %#}


{% endblock %}